<div id="snippets">
  <!-- <h1>SnippetRoom</h1>
  <h2>Code sharing made simple</h2>  -->
  <% if (viewData?.crudSnippets?.length) { %>
    <% for (const snippet of viewData.crudSnippets) { %>
      <div id="snippet">
        <div id="title">
          <h3><%= snippet.title %></h3>
        </div>
        <span id="author"><%=snippet.language%> | <%=snippet.updatedAt%> | By <%=snippet.user%>
          <% if (snippet.creator() === true) { %>
            | <a href="./<%= snippet.id %>/update">Update</a>
            | <a href="./<%= snippet.id %>/delete">Delete</a>
          <% } %>
        </span>
        <div id="tags">
          <% if (snippet.tags?.length) { %>
            <% for (const tag of snippet.tags) { %>
              <a href="./<%= tag %>"><%=tag%></a>
              <% } %>
           <% } %>
        </div>
        <div id="description">
          <p><%= snippet.description %></p>
        </div>
        <div id="code">
          <pre><code><%= snippet.snippet %></code></pre>
        </div>
      </div>
    <% } %>
  <% } else { %>
    <p>No snippets to be displayed...</p>
  <% } %>
</div>