<div id="snippets">
  <% if (viewData?.crudSnippets?.length) { %>
    <% for (const snippet of viewData.crudSnippets) { %>
      <div class="snippet">
        <div class="title">
          <h3><%= snippet.title %></h3>
        </div>
        <span class="author"><%=snippet.language%> | <%=snippet.createdAt%> | By <%=snippet.username%>
          <% if (snippet.creator() === true) { %>
            | <a href="./snippets/<%= snippet.id %>/update">Update</a>
            | <a href="./snippets/<%= snippet.id %>/delete">Delete</a>
          <% } %>
        </span>
        <div class="tags">
          <% if (snippet.tags?.length !== 0) { %>
            <% for (const tag of snippet.tags) { %>
              <a href="./snippets/<%= tag %>"><%=tag%></a>
              <% } %>
           <% } %>
        </div>
        <div class="description">
          <p><%= snippet.description %></p>
        </div>
        <div class="code">
          <pre><code><%= snippet.snippet %></code></pre>
        </div>
      </div>
    <% } %>
  <% } else { %>
    <p>No snippets to be displayed...</p>
  <% } %>
</div>